<!DOCTYPE html>
<html>
<head>
	<title>Eestec</title>
</head>
<body>
	<form action="/" method="POST">
		<input type="text" name="search">
		<input type="submit" name="submir" value="Search">
	</form>
</body>
</html>